$background-blue: #40607f
$fore-of-blue: #CACCCE

$font-stack-main: "Source Sans Pro", "Arial", sans-serif

$background-white: #FCFCFC
$fore-of-white: #7D7D7D
$h-fore-of-white: #444444

body
  background-color: $background-blue
  color: $fore-of-blue
  font-family: $font-stack-main

p
  font-family: inherit
  font-size: 2em

.white
  font-family: inherit
  background-color: $background-white
  color: $fore-of-white

h1,
h2,
h3,
h4,
h5,
h6
  font-family: inherit
  font-size: 4em

.white h1,
.white h2,
.white h3,
.white h4,
.white h5,
.white h6
  font-family: inherit
  color: $h-fore-of-white
